<!DOCTYPE html>
<html>
  <head>
    <title>BlogWithHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main>
      <div class="container mt-3">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
